<div class="row">
  <div class="col-md-4 offset-md-4">
    <div class="card">
      <div class="card-body">
        <form action="/tasks/create" method="POST">
          <div class="form-grop">
            <input type="text" name="title" placeholder="Write your title" autofocus/>
          </div>
          <div class="form-grop">
            <input type="text" class="form-control" name="description" placeholder="Write a description" />
          </div>
          <button type="submit" class="btn btn-success btn-block">
            Save
          </button>
        </form>
      </div>
    </div>
  </div>
</div>