<div class="jumbotron">
  <h1 class="display-4">Typescript App</h1>
  <p class="lead">
    Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ad repellat aspernatur sint deleniti saepe tempore iure aliquid illo, ut accusantium at fugit beatae quod dolore perspiciatis alias? Consequatur, saepe possimus?
  </p>
  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Id vel at accusantium iure numquam, tempore laboriosam omnis suscipit necessitatibus unde dolores temporibus perspiciatis ipsum voluptate quae vero eligendi harum quisquam.</p>
  <a href="#" class="btn btn-primary btn-lg">
    Tasks List
  </a>
</div>